body {
    font-family: Arial, sans-serif;
    background-image: url('loginback.jpg');
 background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.signup-container {
background-color: rgba(255,255,255,0.53);
padding: 20px;
border-radius: 8px;
box-shadow: 0 15px 30px rgba(0,0,0,0.53);
width: 350px;
    z-index: 2;
    
        }
.signup-container h2 {
text-align: center;
margin-bottom: 20px; 
        }
.signup-container h4{
    text-align: center;
}
.form-group {
margin-bottom: 5%;
    margin-right: 5%;
        }
.form-group label {
display: block;
margin-bottom: 5px;
    padding-top: 5px;
    margin: 12px;
        }
.form-group input {
width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
        }
.form-group button {
width: 100%;
    padding: 10px;
    background-color: #000000;
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 10px;
        }
.form-group button:hover {
background-color: #737373;
    color: black;
    border-color: black;
    outline-color: black;
    cursor: pointer;
        }
.error {
color: red;
font-size: 12px;
        }